
.search_container {
    display: flex;
    background-color: white;
    /* min-width: 30%; */
    width: fit-content;
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
}

.search_input {
    width: 20vw;
}

.search_input:focus {
    outline: none;
}