@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-duration: 230ms;
}

.mainPage {
  flex-direction: column;
  overflow-y: scroll;
  padding: 50px 20%;
  display: flex;
  width: 100%;
  gap: 50px;
  flex: 1;
  padding-bottom: 200px;
}

.navLink {
  background-color: #0001;
  border-radius: 100px;
  align-items: center;
  padding: 5px 20px;
  font-size: 22px;
  color: #000a;
  display: flex;
  height: 100%;
}

.navLink:hover {
  background-color: #0003;
  color: black;
}

/* -------------- STANDARD FORM ---------------- */

.standardForm {
  flex-direction: column;
  min-width: 600px;
  font-size: 20px;
  max-width: 100%;
  color: black;
  display: flex;
  padding: 30px;
  width: 100%;
  gap: 10px;
}

.standardForm input,
textarea {
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
.standardForm .resetSubmitDiv {
  display: flex;
}

.standardForm .resetSubmitDiv {
  flex: 1;
  gap: 20px;
}

.standardForm h1 {
  font-size: 35px;
}

.standardForm input[type='submit'],
.standardForm input[type='reset'] {
  background-color: lightgreen;
  border: 2px solid transparent;
  margin-bottom: 20px;
  margin-top: 50px;
  cursor: pointer;
  outline: none;
  padding: 5px;
  opacity: 0.5;
}

.standardForm input[type='reset'] {
  background-color: orange;
}

.standardForm input[type='submit']:hover,
.standardForm input[type='submit']:focus ,
.standardForm input[type='reset']:hover,
.standardForm input[type='reset']:focus {
  border-color: black;
  opacity: 1;
}

.standardForm select {
  padding: 5px;
}
