@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-duration: 230ms;
}

.mainPage {
  flex-direction: column;
  overflow-y: scroll;
  padding: 50px 20%;
  display: flex;
  width: 100%;
  gap: 50px;
  flex: 1;
  padding-bottom: 200px;
  background-color: #00000005;
}

@media all and (max-width: 1000px) {
  .mainPage {
    padding: 50px 10%;
  }
}

@media all and (max-width: 600px) {
  .mainPage {
    padding: 50px 5%;
  }
}

.navLink {
  background-color: rgba(245, 240, 240, 0.067);
  border-color: #0e308fe8;
  border-width: 2px;
  border-radius: 100px;
  align-items: center;
  padding: 5px 20px;
  font-size: 21;
  font-weight: 600;
  color: #0e308fe8;
  display: inline-flex;
  height: 100%;
  text-wrap: nowrap;
}

.navLink:hover {
  background-color: rgba(123, 140, 187, 0.329);
  color: black;
}

.account {
  background-color: rgba(245, 240, 240, 0.067);
  border-color: #2a69c1;
  border-width: 2px;
  border-radius: 100px;
  align-items: center;
  padding: 5px 20px;
  font-size: 21;
  font-weight: 600;
  color: #0e308fe8;
  display: inline-flex;
  height: 100%;
}

.account:hover {
  background-color: rgba(123, 140, 187, 0.329);
  color: black;
}

/* -------------- STANDARD FORM ---------------- */

.standardForm {
  flex-direction: column;
  overflow: hidden;
  font-size: 20px;
  color: black;
  display: flex;
  padding: 30px;
  gap: 10px;
  max-width: 80vw;
}

.standardForm input,
.standardForm textarea,
.standardForm select,
.standardForm option {
  background-color: #0001;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
}
.standardForm .resetSubmitDiv {
  display: flex;
}

.standardForm .resetSubmitDiv {
  flex: 1;
  gap: 20px;
}

.standardForm h1 {
  font-size: 35px;
}

.standardForm input[type='submit'],
.standardForm input[type='reset'] {
  background-color: lightgreen;
  border: 2px solid transparent;
  margin: 20px 0;
  cursor: pointer;
  outline: none;
  padding: 5px;
  opacity: 0.5;
}

.standardForm input[type='reset'] {
  background-color: orange;
}

.standardForm input[type='submit']:hover,
.standardForm input[type='submit']:focus,
.standardForm input[type='reset']:hover,
.standardForm input[type='reset']:focus {
  border-color: black;
  opacity: 1;
}

.standardForm select {
  padding: 5px;
}
/*----Home Page ----*/

.home_img {
  height: 95vh;
  width: 50vw;
}

.first {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.order_button {
  /* background-color: #597ad4e8; */
  background: linear-gradient(to right, #2c59d3bb 50%, rgb(217, 219, 224) 50%);
  border-radius: 100px;
  box-shadow: rgba(44, 106, 187, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 106, 187, 0.2) 0 1px 2px, rgba(44, 106, 187, 0.2) 0 2px 4px,
    rgba(44, 106, 187, 0.2) 0 4px 8px, rgba(44, 106, 187, 0.2) 0 8px 16px,
    rgba(44, 106, 187, 0.2) 0 16px 32px;
  color: #0e308fe8;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.order_button:hover {
  box-shadow: rgba(35, 152, 219, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 106, 187, 0.2) 0 1px 2px, rgba(44, 106, 187, 0.2) 0 2px 4px,
    rgba(44, 106, 187, 0.2) 0 4px 8px, rgba(44, 106, 187, 0.2) 0 8px 16px,
    rgba(44, 106, 187, 0.2) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/*-----Browser-----*/

.search {
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_display {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
