.gridContainer {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: start;
  display: grid;
  gap: 25px;
}

.gridContainer * {
  animation-duration: 100ms;
}

.itemCard {
  box-shadow: 0 0 7px 7px #0001;
  border: 2px solid #0002;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  overflow: hidden;
  display: flex;
  height: 100%;
  margin: 5px;
}
